<div *ngIf="files.length === 0" class="empty-state">
  <p>Currently, there are no documents available.</p>
  <p>Please use the <strong>"Upload New"</strong> button to add a document.</p>
  <p>Supported file types: <strong>PDF, Excel, Word, TXT, Images</strong></p>
</div>

<div class="flex-container">
  <div *ngIf="selectedFiles.length > 0" class="flex-item download-button">
    <button mat-raised-button color="primary" (click)="onDownloadSelectedClick()">Download Selected</button>
  </div>
  <div class="flex-item" *ngFor="let file of files">
    <app-file-item 
      [file]="file"
      (selectionChange)="onFileSelectionChange($event)">
    </app-file-item>
  </div>
</div>
