
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 768px) {
    mat-drawer {
      width: 200px;
    }
  }
  
  @media (max-width: 480px) {
    mat-drawer {
      width: 150px;
    }
  }
  